:root {
    --prim: #E32D91;
    --sec: #f188c2;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex: row;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90vw;

}

.titulo_eletiva {
    font-size: 1.3rem;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    margin: 0.8rem auto;
    color: #000000;
    border-bottom: 0.5rem solid var(--prim);

}

.titulo_eletiva:hover {
    border-bottom: 0.9rem solid var(--sec);
    transition: all 0.5s ease;
}
.container{
    border-top: 5px double #000000;
    
}

.container a{
    text-decoration: none;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
    color: #000000;
    border-radius: 0.5rem 1rem;
    background-color: var(--sec);
    
}
.container a:hover{
    border-bottom: 0.9rem solid var(--prim);
    transition: all 0.5s ease;
    background-color: white;
}
