*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2? family= Geologica:wght@100;200;300;400;500;600;700;800;900 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900 & display=swap');

/* font-family: 'Comfortaa', cursive; */
body {
    font-family: 'Geologica' ,'Poppins', sans-serif;
    margin: 0;
}

.topo {
    display: flex;
    flex-flow: row wrap;
    height: 120px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    width: 50%;
}

.logo img {
    height: 120px;

}

.redes-sociais {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25rem;
    width: 30%;
}

.redes-sociais a:hover {
    filter: drop-shadow(2px 2px 4px var(--prim));
}

.menu {
    width: 100%;
    background: var(--prim);
    background-size: contain;
    display: flex;
    flex: row wrap;
    justify-content: center;
    border-bottom: 3px solid white;
}

.menu a {
    display: flex;
    margin: 0.63rem;
    height: 3.5rem;
    padding: 0.63rem;
    background: #ffffff;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

#casa {
    height: auto;
    margin: 0.25rem 0;
}

#casa:hover {
    border-radius: 20px;
    transition: all 0.3s ease;
}

#bt1:hover {
    padding: 0.63rem;
    color: #ffffff;
    background: #2dc8fc;

    transition: all 0.9s ease;
}

#bt2:hover {
    padding: 0.63rem;
    color: #ffffff;
    background: #F192A6;
    transition: all 0.9s ease;
}

#bt3:hover {
    padding: 0.63rem;
    color: #ffffff;;
    background: #FFD064;
    transition: all 0.9s ease;
}

#bt4:hover {
    padding: 0.63rem;
    color: #ffffff;
    background: #E32D91;
    transition: all 0.9s ease;
}

#bt5:hover {
    padding: 0.63rem;
    color: #ffffff;
    background: #95D6A4;
    transition: all 0.9s ease;
}

#bt6:hover {
    padding: 0.63rem;
    color: #ffffff;
    background: #2c99f1;
    transition: all 0.9s ease;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

footer {
    display: flex;
    flex-flow: row wrap;
    height: 120px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
    border-top: 3px solid white;
    
}
footer p{
    margin: 0.5rem;
    text-align: center;
}

.logo-rodapé {
    width: 50%;
}

.logo-rodapé img {
    height: 120px;
}

.creditos {
    width: 30%;
    height: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

}

.creditos a {
    color: #ffffff;
    background: var(--prim);
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 1.25rem 1rem;
    margin: 5px;

}

.creditos a:hover {
    background: var(--sec);
}

#comingsoon {
    font-weight: 900;
    font-size: 0.95rem;
    text-align: center;
    color: #000000;
    text-decoration: none;
    background-color: var(--sec);
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    border-bottom: 0.5rem solid var(--prim);
    text-transform: uppercase;
}