*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width:850px){
    .topo{
        margin: 0 0 0 0;
        height: auto;

    }
    .redes-sociais{
        display: none;
    }
    .logo img, .logo-rodapé img{
        max-width: 280px;
        height: auto;
    }
    .menu{
        height: auto;
        flex-wrap: wrap;
    }
    .menu a{
        font-size: 0.8rem;
    }
    
    footer{
        flex-wrap: wrap;
        height: auto;
        margin-top: 0.65rem 0;
        flex-flow: column;
        align-items: center;
    }
    .logo-rodapé{
        width: auto;
    }
    .creditos{
        flex-flow: row;
        justify-content: center;
    }

}
