@media screen and (max-width:1005px){
    .topo{
        margin: 0 0 0 0;
    }
    .redes-sociais{
        display: none;
    }
    .logo{
       width: auto;
    }
    .menu{
        height: auto;
        flex-wrap: wrap;
        
    }
    .header{
        padding-top:50px;

    }

    footer{
        flex-wrap: wrap;
        height: auto;
        margin-top: 10px;
        margin-bottom: px;
        flex-flow: column;
        align-items: center;
    }
    .logo-rodapé{
        width: auto;
    }
    .creditos{
        flex-flow: row;
        justify-content: center;
    }

}

@media screen and (max-width:350px){
    .logo, .logo-rodapé{
        max-width: 340px;
     }
}