:root{
    --prim: #e03737da;
    --sec: #ff0000;
}
.cards-conteiner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 1rem;
    width: 95%;
}
.cards-conteiner p{
    text-align: justify;
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.2em;
}

div .cards{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    margin: 2px auto;
    border-radius: 1rem;
    border: 0.2rem solid black;
    background-color: var(--prim);
}
.cards img{
    height: 100px;
    width: 100%;
    margin: 0;
    border-radius: 0.8em 0.8em 0 0;
}
.cards a{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}

.cards a:hover{
    font-weight: 900;
    background-color: var(--sec);
}

@media screen and (max-width:700px){
    .cards-conteiner{
        width: 100%;
        margin: 0.2rem auto;
    }
    .cards{
        margin: 2px auto;
        max-width: 90%;
    }
    .cards-conteiner p{
        font-size: 1em;
        margin: 1rem;
    }
}